@use "_base.scss" as *;

.order-form {
  border: 1px solid $border-color;
  padding: 20px;
  min-width:$min-width;
  border-radius: 8px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    gap: 25px;
    align-items: center;

    label {
      margin-bottom: 5px;
      width: 100px;
    }

    input {
      padding: 5px;
    }

    select {
      height: 25px;
    }

    .numero-pedido,
    .importe-total {
      width: 100px;
    }

    .proveedor {
      width: 250px;
    }

    .fecha {
      width: 120px;
    }
  }

  .enviar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    button {
      padding: 10px 20px;
      color: $color-white;
      border: none;
      margin-top: 10px;
      padding: 15px;
      border-radius: 8px;

      &.disabled {
        background-color: $color-button-disabled;
      }

      &.enabled {
        cursor: pointer;
        background-color: $color-button;

        &:hover {
          background-color: $color-button-hover;
        }

      }
    }
  }
}

.validation-buttons {
  display: flex;
  margin-top: 20px;
  gap: 15px;
  width: 50%;

  button {
    padding: 10px 20px;
    color: $color-white;
    border: none;
    margin-top: 10px;
    padding: 15px;
    border-radius: 8px;

    &.disabled {
      background-color: $color-button-disabled;
    }

    &.enabled {
      cursor: pointer;
      background-color: $color-button;

      &:hover {
        background-color: $color-button-hover;
      }

    }
  }
}