$color-white: #F5F5F5;
$color-black: #1A0616;

$color-button: #007bffd7;
$color-button-hover: #007bff;
$color-button-disabled: #ada6a6;

$border-color: #ccc;

$font-size-base: 14px;

$min-width: 980px;

body {
    margin: 0px;
    padding: 0px;
    color: $color-black;
}


.container-app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 100px 20px 20px 20px;
    height: 100vh;

    font-family: "DM Sans", "Monserrat", "Lato", sans-serif;
    font-size: $font-size-base;
    font-optical-sizing: auto;
    font-style: normal;
}

.pedido-form {
    border: 1px solid $border-color;
    padding: 20px;
    // min-width: $min-width;
    border-radius: 8px;

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-row {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        gap: 25px;
        align-items: center;

        label {
            margin-bottom: 5px;
            width: 100px;
        }

        input {
            padding: 5px;
        }

        select {
            height: 25px;
        }

        .numero-pedido,
        .importe-total {
            width: 100px;
        }

        .porcentaje-estado {
            width: 50px;
            border: none;
            background: none;
            font-weight: bold;
            transition: all .3s ease-in-out;

        }

        .proveedor {
            width: 250px;
        }

        .fecha {
            width: 120px;
        }
    }

    .enviar {
        display: flex;
        width: 100%;
        justify-content: flex-end;

        button {
            padding: 10px 20px;
            color: $color-white;
            border: none;
            margin-top: 10px;
            padding: 15px;
            border-radius: 8px;

            &.disabled {
                background-color: $color-button-disabled;
            }

            &.enabled {
                cursor: pointer;
                background-color: $color-button;

                &:hover {
                    background-color: $color-button-hover;
                }

            }
        }
    }
}

.validation-buttons {
    display: flex;
    margin-top: 20px;
    gap: 15px;

    button {
        color: $color-white;
        border: none;
        margin-top: 10px;
        padding: 15px;
        border-radius: 6px;

        &.disabled {
            background-color: $color-button-disabled;
        }

        &.enabled {
            cursor: pointer;
            background-color: $color-button;

            &:hover {
                background-color: $color-button-hover;
            }
        }
    }


}

.pedido-list {
    border: 1px solid $border-color;
    min-width: $min-width;
    margin-top: 20px;
    border-radius: 6px;

    .cabecera {
        display: grid;
        grid-template-columns: 1fr 2fr 3fr 1fr 0.3fr;
        padding: 10px;
        background-color: #f0f0f0;

        svg {
            cursor: pointer;
        }
    }

    .detalle {
        display: grid;
        grid-template-columns: 1fr 2fr 3fr 1fr 0.3fr;
        padding: 10px;
        border-bottom: 1px solid $border-color;
        cursor: pointer;
        align-items: center;

        &:hover {
            background-color: $border-color;
        }

        input {
            height: 30px;
            font-size: $font-size-base;
        }

        .estado-detalle {
            width: 100px;
            border: none;
        }

        .descripcion-detalle {
            width: 350px;
            border: none;
        }

        .importe-detalle {
            width: 100px;
            border: none;
        }


        input[type="checkbox"] {
            align-self: center;
        }
    }
}