$white-color: white;
$black-color: #0B1215;
$grey-color: #808080;
$border-radius: 6px;

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", serif, sans-serif;
  background-color: $black-color;
}

/**** MENU PRINCIPAL ****/

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 20px;
  flex-direction: column;

  .menu {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $white-color;

    a {
      text-decoration: none;
      font-size: 1.1rem;
      color: $white-color;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer {
    position: absolute;
    bottom: 25px;
    text-align: center;
    color: $white-color;
    padding: 15px;
  }



}

/**** LAYOUT ****/
.app-container {

  .header {
    padding-top: 25px;
    text-align: center;
    color: $white-color;
    width: 100%;

    a {
      text-decoration: underline;
      font-size: 1.1rem;
      color: $white-color;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}




/***** GITHUB *******/

.github-container {
  display: flex;
  flex-direction: column;
  color: $white-color;
  padding: 25px;
  min-height: calc(100vh - 120px);


  h1 {
    text-align: center;
  }

  .github-form {
    margin: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;

    input {
      height: 40px;
      border-radius: $border-radius;
      padding-left: 10px;
      border: none;
      min-width: 200px;
    }

    button {
      height: 40px;
      border-radius: $border-radius;
      border: none;
      background-color: $white-color;
      color: $black-color;
      cursor: pointer;
    }
  }

  .members-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 25px;

    .member-card {
      display: flex;
      flex-direction: column;
      padding: 10px;
      margin: 10px;
      border-radius: $border-radius;
      gap: 15px;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      .member-name {
        font-size: 0.8rem;
        text-align: center;
      }

      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid $black-color;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .no-members-found {
    color: $white-color;
    text-align: center;
  }
}

.github-container-detail {
  display: flex;
  flex-direction: column;
  color: $white-color;
  min-height: calc(100vh - 60px);
  justify-content: center;
  align-items: center;
  padding: 0px 15px;

  img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 16px;
    border: 1px solid $black-color;
  }

  p {
    width: 400px;
    text-align: center;

    .label {
      font-weight: 900;
    }

    .value {
      font-size: .9rem;
    }
  }

  a {
    color: $white-color;
    text-decoration: underline;
  }
}

/***** RICK Y MORTY *******/
.rickmorty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 52px);

  .form {
    padding: 50px;

    input {
      height: 40px;
      padding-left: 10px;
      width: 350px;
    }
  }


  .characters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    color: $white-color;
    transition: all .4s ease-in-out;
    padding: 25px 50px 25px 50px;

    .character-card {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;

      header {
        .character-name {
          font-size: 1em;
          text-align: center;
          text-overflow: ellipsis;
        }
      }

      img {
        -o-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        width: 125px;
      }

      .filtered {
        -o-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
      }

      footer {
        padding-top: 15px;
      }
    }
  }
}

.character-detail {
  display: flex;
  flex-direction: column;
  color: $white-color;
  min-height: calc(100vh - 60px);
  justify-content: center;
  align-items: center;
  padding: 0px 15px;

  .text-gray {
    background-color: $white-color;
    color: $black-color;
    padding: 5px;
  }

  header {
    .character-name {
      font-size: 1.5em;
      text-align: center;
    }
    padding-bottom: 20px;
  }

  img {
    width: 200px;
  }

  .last-location, .first-seen {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }

  p {
    width: 400px;
    text-align: center;

    .label {
      font-weight: 900;
    }

    .value {
      font-size: .9rem;
    }
  }

  a {
    color: $white-color;
    text-decoration: underline;
  }

  footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 35px;
    align-items: center;
  }
}




.status-Alive {
  color: #43E7AB;
}

.status-Dead {
  color: #E85456;
}

.status-unknown {
  color: #FFFF00;
}