$color: #213547;
$background-color: #F8F8FF;
$size-icon: 16px;

#root {
    max-width: 980px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

:root {
    font-family: "Lato", "Montserrat", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: $color;
    background-color: $background-color;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    height: 100vh;
}


.layout-container {
    display: flex;
    flex-direction: column;

}


header {
    h1 {
        font-size: 3.2em;
        line-height: 1.1;
    }

    nav {
        ul {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: flex-start;
            gap: 50px;

            li {
                list-style-type: none;

                a {
                    color: $color;
                }

            }

            li:last-child {
                font-weight: 600;
                margin-left: auto;
                cursor: pointer;
            }
        }
    }

    .active {
        font-size: 1.1em;
        font-weight: 700;
        text-decoration: underline;
    }

    .no-active {
        text-decoration: none;
    }
}

main {
    display: flex;
    flex-direction: row;

    .container-kitties,
    .container-puppies {
        height: 100%;
        min-height: 400px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;


        .card {
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            cursor: pointer;

            img {
                width: 150px;
                height: 200px;
                object-fit: cover;
                border-radius: 8px;
                opacity: 2;
                transition: opacity .3s ease-in-out;

                &:hover {
                    opacity: 0.85;
                }
            }

            h3 {
                font-size: 0.9rem;
            }

            ·container-check {
                display: flex;
            }

        }



    }

    .container-cart {
        position: fixed;
        right: -100%;
        width: 250px;
        max-height: 600px;
        height: 100vh;
        background: #2135470c;
        border-radius: 8px;
        transition: right 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;

        header {
            padding-top: 25px;
            padding-bottom: 25px;

            img {
                width: $size-icon*2;
                vertical-align: middle;
            }
        }

        .empty-cart {
            text-align: center;
            color: #6c757d;
            margin-top: 20px;
            font-size: .8em;
        }

        .card-buttons {
            padding-top: 15px;

            .cart-empty-button {
                padding: 10px 15px 10px 15px;
                background-color: transparent;
                border: 1px solid #6c757d;
                color: #6c757d;
                font-size: 16px;
                font-weight: 700;
                border-radius: 6px;
                cursor: pointer;

                &:hover {
                    color: white;
                    background-color: #6c757d;
                }
            }

            .cart-checkout-button {
                padding: 10px 15px 10px 15px;
                background-color: #6c757d;
                border: 0px;
                color: white;
                font-size: 16px;
                font-weight: 700;
                border-radius: 6px;
                cursor: pointer;

                &:hover {
                    background-color: #51585e;
                }
            }
        }



        .cart-card {
            padding: 5px;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            img {
                width: $size-icon*2;
                vertical-align: middle;
            }

            .cart-card-info {
                vertical-align: middle;
                width: calc(150px/2);
                height: cacl(200px/2);
                object-fit: cover;
                border-radius: 8px;

            }

            .trash-icon {
                width: 16px;
                cursor: pointer;
            }
        }
    }

    .opened {
        right: 5%;
    }
}

footer {
    font-size: 0.8em;
    font-weight: 700;

    img {
        width: $size-icon;
        vertical-align: middle;
    }

    a {
        text-decoration: underline;
        color: $color;

        &:hover {
            text-decoration: none;
        }
    }


}