@use "_base.scss" as *;

.order-item {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr;
    padding: 10px;
    border-bottom: 1px solid $border-color;
  
    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: $border-color;
      cursor: pointer;
    }
  
    input[type="checkbox"] {
      align-self: center;
    }
  }