$color-white: #F5F5F5;
$color-black: #1A0616;

$color-button: #007bffd7;
$color-button-hover: #007bff;
$color-button-disabled: #ada6a6;

$border-color: #ccc;

$font-size-base: 16px;

$min-width: 980px;


body {
    margin: 0px;
    padding: 0px;
    color: $color-black;
}


.container-app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    width: 100vw;
    height: 100vh;

    font-family: "DM Sans", "Monserrat", "Lato", sans-serif;
    font-size: $font-size-base;
    font-optical-sizing: auto;
    font-style: normal;
}