$color: #213547;
$background-color: #F8F8FF;
$size-icon: 16px;
$width-cart: 250px;

#root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

:root {
    font-family: "Lato", "Montserrat", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: $color;
    background-color: $background-color;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    height: 100vh;
}


.layout-container {
    display: flex;
    flex-direction: column;

}


header {
    h1 {
        font-size: 3.2em;
        line-height: 1.1;
    }

    nav {
        ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 50px;

            li {
                list-style-type: none;

                a {
                    color: $color;
                }

            }

            li:last-child {
                font-weight: 600;
                cursor: pointer;
            }
        }
    }

    .active {
        font-size: 1.1em;
        font-weight: 700;
        text-decoration: underline;
    }

    .no-active {
        text-decoration: none;
    }
}

main {
    display: flex;
    flex-direction: row;

    .container-kitties,
    .container-puppies {
        width: calc(90% - $width-cart);
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;


        .card {
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            cursor: pointer;

            img {
                width: 150px;
                height: 200px;
                object-fit: cover;
                border-radius: 8px;
                opacity: 2;
                transition: opacity .3s ease-in-out;

                &:hover {
                    opacity: 0.85;
                }
            }

            h3 {
                font-size: 0.9rem;
            }

            ·container-check {
                display: flex;
            }

        }



    }

    .container-cart {
        position: fixed;
        right: -100%;
        width: $width-cart;
        height: 100vh;
        height: 600px;
        background: #2135470c;
        border-radius: 8px;
        transition: right 0.3s ease-in-out;
        display: flex;
        flex-direction: column;



        header {
            padding-top: 25px;
            padding-bottom: 25px;

            img {
                width: $size-icon*2;
                vertical-align: middle;
            }
        }

        main {
            display: flex;
            flex-direction: column;
            height: 450px;
            overflow-y: scroll;

            .empty-cart {
                color: #6c757d;
                margin-top: 20px;
                text-align: center;
                width: 100%;
                font-size: .8em;
            }
        }

        .card-buttons {
            padding: 15px 0px 45px 0px;

            .cart-empty-button {
                padding: 10px 15px 10px 15px;
                background-color: transparent;
                border: 1px solid #6c757d;
                color: #6c757d;
                font-size: 16px;
                font-weight: 700;
                border-radius: 6px;
                cursor: pointer;

                &:hover {
                    color: #E04242;
                    border: 1px solid #E04242;
                }
            }

            .cart-checkout-button {
                padding: 10px 15px 10px 15px;
                background-color: #6c757d;
                border: 0px;
                color: white;
                font-size: 16px;
                font-weight: 700;
                border-radius: 6px;
                cursor: pointer;

                &:hover {
                    background-color: #51585e;
                }
            }
        }



        .cart-card {
            padding: 5px;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            img {
                width: $size-icon*2;
                vertical-align: middle;
            }

            .cart-card-info {
                vertical-align: middle;
                width: calc(150px/2);
                height: cacl(200px/2);
                object-fit: cover;
                border-radius: 8px;

            }

            .trash-icon {
                width: 16px;
                cursor: pointer;
            }
        }
    }

    .opened {
        right: 15%;
    }
}

footer {
    font-size: 0.8em;
    font-weight: 700;

    img {
        width: $size-icon;
        vertical-align: middle;
    }

    a {
        text-decoration: underline;
        color: $color;

        &:hover {
            text-decoration: none;
        }
    }
}

//Estilos ventana modal
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal-buttons .confirm-button {
    padding: 10px 15px 10px 15px;
    background-color: #6c757d;
    border: 0px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
    margin: 10px;

    &:hover {
        background-color: #51585e;
    }
}

.modal-buttons .cancel-button {
    padding: 10px 15px 10px 15px;
    background-color: transparent;
    border: 1px solid #6c757d;
    color: #6c757d;
    font-size: 16px;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
        color: #51585e;
        border: 1px solid #51585e;
    }
}